<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="page-wrapper">
        <!-- Top bar code starts -->
        <div class="top-div">
            <!-- Top left float -->
            <div class="float-left">
                <div class="bar-icon">
                    <img src="../img/bar-icon.png" alt="" class="bar-img">
                </div>
                <div class="youtube-logo">
                    <img src="../img/ytlogo.png" alt="">
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="search" class="search">
                    <button class="btn-search">Search</button>
                </div>
            </div>
            <!-- Top left float ends -->
            <!-- Top right float starts -->
            <div class="float-right">
                <div class="mic-icon"><img src="../img/mic.png" alt=""></div>
                <div class="record-icon"><img src="../img/record.png" alt=""></div>
                <div class="grid-icon"><img src="../img/grid.png" alt=""></div>
                <div class="notification"><img src="../img/notification.png" alt=""></div>
                <div class="sign-in"><button class="btn-signin">sign-in</button></div>
            </div>
            <!-- Top right float ends -->
        </div>
        <!-- Top bar code ends -->
        <!-- Side bar code start here -->
        <div class="all-contain">
            <div class="side-bar">
                <div><a href="https://www.youtube.com/"><img src="../img/home.png" alt=""></a></div>
                <div><a href="https://www.youtube.com/feed/explore"><img src="../img/explore.png" alt=""></a></div>
                <div><a href="https://www.youtube.com/feed/subscriptions"><img src="../img/subscription.png" alt=""></a></div>
                <div><a href="https://www.youtube.com/feed/library"><img src="../img/library.png" alt=""></a></div>
            </div>
            <div class="catagory">
                <div class="cat" id="first-cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
                <div class="cat">HEllo</div>
            </div>
            <div class="videos-container">
                <div class="videos">
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                    <div class="video">
                        <div class="contain-img"><img src="../img/blackhole.png" alt="" class="img-custom"></div>
                        <div class="creator"><img src="../img/kwar.png" alt="" class="creator-icon"></div>
                        <div class="all-details">
                            <div class="detail">The Blackhole</div>
                            <div class="channel-name">
                                Kurzgesagt – In a Nutshell
                            </div>
                            <div class="views">1.5M views</div>
                            <div class="days">1 day ago</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>